body {
    margin: 6%;
    background-color: #c7e8f0;
    font-family: Georgia, serif;
}
header {
    h1 {
        text-align: center;
        font-size: 400%;
    }
    p {
        text-align: center;
        font-size: 22px;
        padding-bottom: 20px;
    }
}
main {
    .row {
        background-color:#e8f9fd;
        width: 800px;
        margin: auto;

        #form-Div {
        display: flex;
        flex-direction: column;
        justify-content: center;

          input[type=text] {
            width: 85%;
            padding: 2px;
            border-radius: 4px;
          }
        }
            h2 {
                padding: 22px 0px;
                font-size: 24px;
                text-align: center;
            }
            h3{
                        font-size: 20px;
            }
            .col-4 {
                    border: white 2px solid;

              #listtwo {
                list-style: none;

                .Task {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding-bottom: 8px;

                .removeTheTask {
                    margin-left: auto;
                    width: 26px;
                    height: 30px;
                }
              
                .taskDone {
                    text-decoration: line-through;
                    color: rgba(34, 34, 34, 0.8);

                    &:hover 
                    {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
        }
    }
            .col-8 {
                    border: white 2px solid;
                .Task {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding-bottom: 8px;

                    .navButton {
                        margin-left: auto;

                        button {
                            width: 26px;
                            height: 30px;
                        }
                    }
                }
            }
    }
