$background-color: #c7e8f0;
$main-color: #e8f9fd;
$border-around-color: white;

@mixin textStyle ($textAlign: center, $fontSize) {
    text-align: $textAlign;
    font-size: $fontSize;
}
@mixin addFlex ($flex-direct: row, $align-flex: normal, $justify-flex: normal){
    display: flex;
    flex-direction: $flex-direct;
    align-items: $align-flex;
    justify-content: $justify-flex;
    gap: 10px;
    padding-bottom: 8px;
}
@mixin button (){
    width: 26px;
    height: 30px;
}
@mixin mainBorder (){
    border: $border-around-color 2px solid;
}

body {
    margin: 6%;
    background-color: $background-color;
    font-family: Georgia, serif;
}
header {
    h1 {
        @include textStyle($fontSize: 400%);
    }
    p {
        @include textStyle($fontSize: 22px);
        padding-bottom: 20px;
    }
}
main {
    .row {
        background-color: $main-color;
        width: 1200px;
        margin: auto;

        #form-Div {
        @include addFlex($flex-direct: column, $justify-flex: center);

          input[type=text] {
            width: 85%;
            padding: 2px;
            border-radius: 4px;
          }
        }
        h2 {
                @include textStyle($fontSize: 24px);
                padding: 22px 0px;
            }
        h3 {
                @include textStyle($textAlign: left, $fontSize: 20px);
            }
            .col-4 {
                @include mainBorder();

              #listTwo {
                list-style: none;

                .task {
                    @include addFlex($align-flex: center);
                    flex-wrap: wrap;

                .removeTheTask {
                    margin-left: auto;
                    @include button();
                }
              
                .taskDone {
                    text-decoration: line-through;
                    color: rgba(34, 34, 34, 0.8);

                    &:hover 
                    {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }
            .col-8 {
                    @include mainBorder();
                .task {
                    @include addFlex($align-flex: center);
                    gap: 10px;
                    padding-bottom: 8px;

                    .navButton {
                        margin-left: auto;

                        button {
                        @include button();
                        }
                    }
                }
            }
    }
}
